@import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); * {
    font-family: 'Josefin Sans', sans-serif;
}

html {
    background-color: blue;
}

body {
    background-color: #4dd7fa;
    max-width: 900px;
    min-width: 310px;
    margin: 0 auto;
    border: 1px solid blue;
}

header {
    margin: 1px 1px 1px 1px;
    padding: 0 1px 1px 1px;
}

h2 {
    font-size: 40px;
    text-align: center;
}

p {
    font-size: 20px;
}

#home {
    text-align: center;
    font-size: 30px;
    margin-top: 350px;
    height: 300px;
}

#home h2 {
    text-shadow: 3px 3px 5px;
}

#home img {
    width: 350px;
    height: 300px;
    position: relative;
    bottom: 500px;
}

#education {
    text-align: center;
    border-top-style: solid;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 50px 0;
}

#education h2 img {
    height: 60%;
    padding-top: 50px;
    margin-top: 0px;
}

#education img {
    width: 30%;
    height: 30%;
    align-self: center;
    margin-left: 50px;
    margin-top: 50px;
}

#education p {
    font-size: 20px;
    align-self: flex-end;
    margin-bottom: 100px;
    text-align: left
}

#experience {
    text-align: center;
    border-top-style: solid;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 50px 0;
}

#experience h2 img {
    height: 60%;
    padding-top: 50px;
    margin: 0;
}

#experience p {
    font-size: 20px;
    align-self: center;
    width: 33%;
    text-align: left;
}

#experience img {
    width: 33%;
    height: 33%;
    align-self: center;
    margin-left: 50px;
    margin-top: 50px;
}

#hobbies {
    text-align: center;
    border-top-style: solid;
    line-height: 1.5;
    padding-bottom: 50px;
}

#portfolio {
    border-top-style: solid;
    line-height: 1.5;
}

#contacts {
    border-top-style: solid;
    line-height: 1.5;
}

footer {
    height: 400px;
}

footer div a {
    position: relative;
    bottom: 30px;
}

.call {
    width: 50px;
    height: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    margin-right: 20px;
}

.phone {
    width: 100px;
    padding-left: 20px;
    position: relative;
    top: 30px
}

.hobbies img {
    width: 150px;
    height: 150px;
}

form {
    float: right;
    padding-right: 50px;
    
}

input[type=text] {
    width: 354px;
    padding: 8px 5px;
    background-color: #fef8a0;
}

input[type=email] {
    width: 354px;
    padding: 8px 5px;
    background-color: #fef8a0;
}

input[type=submit] {
    width: 100px;
    height: 30px;
    position: relative;
    left: 130px;
    background-color: #fefb64;
    box-shadow: 2px 5px 10px;
}

textarea {
    background-color: #fef8a0;
    width: 363px;
    height: 60px;
}
#message-box {
    color: #eb3460
}


.mysite {
    text-align: center;
    margin-bottom: 50px;
}

@media (max-width: 870px) {
    header nav {
        overflow: hidden;
        font-size: 11px;
    }

    #education, #experience {
        display: block;
    }

    #experience img, #education img {
        margin-left: 0;
    }

    #education h2, #experience h2 {
        margin-bottom: 1px;
    }

    #experience p, #education p {
        width: 100%;
        text-align: center;
    }

    #experience h2 img, #education h2 img {
        display: none;
    }

    .hobbies img {
        width: 100px;
        height: 100px;
    }

form {
    float: none;
    text-align: center;
    margin-bottom: 20px;
    padding-right: 0;
    
    }
    footer {
        height: 100%;
    }
    input[type=text] {
        width: 520px;
    }
    input[type=email] {
        width: 520px;
    }

    input[type=submit] {
        width: 200px;
        left: 0px;
    }

    textarea {
        width: 530px;
        height: 60px;
    }
    
}

@media (max-width: 770px) {
    form {
        float: none;
        text-align: center
    }

    input[type=submit] {
        width: 150px;
        height: 30px;
        left: 0;
    }
}

@media (max-width: 600px) {
 
    input[type=text] {
        width: 350px;
    }
    input[type=email] {
        width: 350px;
    }
    textarea {
        width: 361px;
        height: 60px;
    }
}

@media (max-width: 400px) {
    #home img {
        bottom: 550px
    }

    input[type=text] {
        width: 334px;
    }

    form {
        margin-bottom: 30px;
    }

    input[type=email] {
        width: 334px;
    }

    input[type=submit] {
        width: 200px;
        left: 0px;
    }

    textarea {
        width: 344px;
        height: 60px;
    }

    footer div a {
        font-size: small;
    }
}

@media (max-width: 370px) {
    #home img {
        width: 300px;
        height: 280px;
    }

    input[type=text] {
        width: 280px;
    }

    input[type=email] {
        width: 280px;
    }

    input[type=submit] {
        width: 200px;
        left: 0px;
    }

    textarea {
        width: 291px;
    }
}

.topnav {
    overflow: hidden;
    background-color: #00c8f8;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #f6a2bf;
    color: black;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 750px) {
    header {
        position: fixed;
        z-index: 1;
        opacity: 0.9;
    }
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
