@import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); * {
    font-family: 'Josefin Sans', sans-serif;
}

html {
background-image: url(../img/background.JPG);
background-attachment: fixed;
background-size: cover;
}

body {
    background-color: #596669;
    max-width: 900px;
    min-width: 320px;    
    margin: 0 auto;
    opacity: 0.9;    
}

h1 {
    text-align: center;
    font-size: 40px;
    margin: 10px;
    cursor: default;    
}

h2 {
    font-size: 40px;
    text-align: center;
    margin: 50px 0 25px 0;
    cursor: default;
}

p {
    font-size: 20px;
    cursor: default;    
}

.topnav {
    overflow: hidden;
    background-color: rgba(11, 11, 21, 0.75);
}

.topnav a {
    float: left;
    display: block;
    color: #3c4fb9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #9E9E9E;
    color: black;
}

.topnav .hamburger {
    display: none;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#home img {
    width: 400px;
}

#home p {
    text-align: center;
}

#education {
    border-top-style: solid;
    line-height: 1.5;
    margin-bottom: 50px;
    margin-bottom: 50px;
}

#education div {
    display: flex;
    justify-content: space-around;
}

.education-picture {
    width: 300px;
    height: auto;
    align-self: center;
}

#education p {
    width: 355px;
}

#experience {
    border-top-style: solid;
    line-height: 1.5;
    margin-bottom: 50px;
}

#experience div {
    display: flex;
    justify-content: space-around;
}

.experience-picture {
    width: 300px;
    height: auto;
    align-self: center;
}

#experience p {
    width: 355px;
    margin-top: 25px;
}

#hobbies-interst {
    border-top-style: solid;
    line-height: 1.5;
    margin-bottom: 50px;
}

#hobbies-interst div {
    text-align: center;
}

.hobbies-interst {
    width: 150px;
    margin: 3px;
}

#portfolio {
    border-top-style: solid;
    line-height: 1.5;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

#contacts {
    border-top-style: solid;
    line-height: 1.5;
    margin-bottom: 50px;
}

form {
    display: flex;
    justify-content: space-around;
}

input[type=text] {
    width: 300px;
    padding: 8px 5px;
    background-color: #212227;
    color: white;
}

input[type=email] {
    width: 300px;
    padding: 8px 5px;
    background-color: #212227;
    color: white;    
}

input[type=submit] {
    width: 100px;
    height: 30px;
    position: relative;
    left: 132px;
    box-shadow: 2px 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #cdcde0;
    box-shadow: 4px 7px 12px;            
}

textarea {
    background-color: #212227;
    width: 365px;
    height: 98px;
    color: white;    
}

#message-box {
    color: #eb3460
}

footer {
    background-color: rgba(11, 11, 21, 0.75);
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

footer img {
    width: 50px;
}

footer a {
    color: white;
}

