@import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); * {
    font-family: 'Josefin Sans', sans-serif;
}

html {
    background-color: blue;
}

body {
    background-color: #4dd7fa;
    max-width: 900px;
    min-width: 320px;    
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 50px 0 25px 0;
}

p {
    font-size: 20px;
}

.topnav {
    overflow: hidden;
    background-color: rgba(124, 124, 233, 0.75);
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #f6a2bf;
    color: black;
}

.topnav .icon {
    display: none;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#home img {
    width: 400px;
}

#home p {
    text-align: center;
}

#education {
    border-top-style: solid;
    line-height: 1.5;
    margin-bottom: 50px;
    margin-bottom: 50px;
}

#education div {
    display: flex;
    justify-content: space-around;
}

.education-picture {
    width: 300px;
    height: auto;
    align-self: center;
}

#education p {
    width: 355px;
}

#experience {
    border-top-style: solid;
    line-height: 1.5;
    margin-bottom: 50px;
}

#experience div {
    display: flex;
    justify-content: space-around;
}

.experience-picture {
    width: 300px;
    height: auto;
    align-self: center;
}

#experience p {
    width: 355px;
    margin-top: 25px;
}

#hobbies-interst {
    border-top-style: solid;
    line-height: 1.5;
    margin-bottom: 50px;
}

#hobbies-interst div {
    text-align: center;
}

#portfolio {
    border-top-style: solid;
    line-height: 1.5;
    margin-bottom: 50px;
}

.mysite {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mysite img {
    width: 300px;
    height: auto;
}

.mysite a {
    font-size: x-large;
    text-decoration: none;
    color: brown
}

#contacts {
    border-top-style: solid;
    line-height: 1.5;
    margin-bottom: 50px;
}

form {
    display: flex;
    justify-content: space-around;
}

input[type=text] {
    width: 300px;
    padding: 8px 5px;
    background-color: #fef8a0;
}

input[type=email] {
    width: 300px;
    padding: 8px 5px;
    background-color: #fef8a0;
}

input[type=submit] {
    width: 100px;
    height: 30px;
    position: relative;
    left: 132px;
    background-color: #fefb64;
    box-shadow: 2px 5px 10px;
}

textarea {
    background-color: #fef8a0;
    width: 365px;
    height: 98px;
}

#message-box {
    color: #eb3460
}

footer {
    background-color: rgba(124, 124, 233, 0.75);
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

footer img {
    width: 50px;
}

footer a {
    color: white;
}
