@media (max-width: 870px) {
    header nav {
        overflow: hidden;
        font-size: 11px;
    }

    #education, #experience {
        display: block;
    }

    #experience img, #education img {
        margin-left: 0;
    }

    #education h2, #experience h2 {
        margin-bottom: 1px;
    }

    #experience p, #education p {
        width: 100%;
        text-align: center;
    }

    #experience h2 img, #education h2 img {
        display: none;
    }

    .hobbies img {
        width: 100px;
        height: 100px;
    }

    form {
        float: none;
        text-align: center;
        margin-bottom: 20px;
        padding-right: 0;    
    }
   
    footer {
        height: 100%;
    }
    
    input[type=text] {
        width: 520px;
    }
    
    input[type=email] {
        width: 520px;
    }

    input[type=submit] {
        width: 200px;
        left: 0px;
    }

    textarea {
        width: 530px;
        height: 60px;
    }
    
}

@media (max-width: 770px) {
    form {
        float: none;
        text-align: center
    }

    input[type=submit] {
        width: 150px;
        height: 30px;
        left: 0;
    }
}
@media screen and (max-width: 750px) {
    header {
        position: fixed;
        z-index: 1;
        opacity: 0.9;
    }
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
@media (max-width: 600px) {
    
    input[type=text] {
        width: 350px;
    }
    
    input[type=email] {
        width: 350px;
    }
    
    textarea {
        width: 361px;
        height: 60px;
    }
   }
   
   @media (max-width: 400px) {
       #home img {
           bottom: 550px
       }
   
       input[type=text] {
           width: 334px;
       }
   
       form {
           margin-bottom: 30px;
       }
   
       input[type=email] {
           width: 334px;
       }
   
       input[type=submit] {
           width: 200px;
           left: 0px;
       }
   
       textarea {
           width: 344px;
           height: 60px;
       }
   
       footer div a {
           font-size: small;
       }
   }
   
   @media (max-width: 370px) {
       #home img {
           width: 300px;
           height: 280px;
       }
   
       input[type=text] {
           width: 280px;
       }
   
       input[type=email] {
           width: 280px;
       }
   
       input[type=submit] {
           width: 200px;
           left: 0px;
       }
   
       textarea {
           width: 291px;
       }
   }
   
   .topnav {
       overflow: hidden;
       background-color: #00c8f8;
   }
   
   .topnav a {
       float: left;
       display: block;
       color: black;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       font-size: 17px;
   }
   
   .topnav a:hover {
       background-color: #f6a2bf;
       color: black;
   }
   
   .topnav .icon {
       display: none;
   }