@media (max-width: 500px) {
    #home img {
        width: 300px;
    }
    
    #education p, #experience p {
        width: auto;
    }

    input[type=text], input[type=email] {
        width: 310px;
    }

    textarea {
        width: 311px;
        margin-right: 5px;
    }

    input[type=submit] {
        width: 130px;
        left: 91px;
    }

    footer a {
        font-size: 10px;
    }

    footer img {
        width: 40px;
    }

    .link {
        bottom: 143px;
    }

    .carousel img {
        width: 320px
    }

    .carousel {
        width: 320px;
        height: 290px;
        padding: 0;        
    }

    .next {
        right: 60px;
        top: -25px;   
        width: 75px;        
    }

    .prev {
        left: 60px;
        top: -25px;     
        width: 75px;        
    }
}
